@keyframes niko{
	0%{color: cyan;}
	5%{color: aqua;}
	10%{color: lightgreen;}
	15%{color: aquamarine;}
	20%{color: deepskyblue;}
	25%{color: dodgerblue;}
	30%{color: blue;}
	35%{color: lightcoral;}
	40%{color: indianred;}
	45%{color: lightpink;}
	50%{color: hotpink;}
	55%{color: deeppink;}
	60%{color: darkorchid;}
	75%{color: red;}
	80%{color: lightsalmon;}
	85%{color: tomato;}
	90%{color: violet;}
	95%{color: orange;}
	100%{color: springgreen;}

}









*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Karla', sans-serif;
}

				/*header start hear*/
#header
{
	width: 100vw;
	height: 75px;
	background-color: #e8e8e8; 
	display: flex;
	justify-content: space-between;
	align-items: center;      
}

#h_logo 
{
	width: 20%;
}
#h_logo a 
{
	text-decoration: none;
	font-size: 1.2rem;
}
#h_logo a h1
{
	color: white;
	animation: niko 20s ease infinite alternate;
	font-family: 'Lobster', cursive;
	font-weight: 1;
	letter-spacing: 2px;
	text-align: center;
	
}

#h_nav
{
	width: 50%;
	/*padding: 30px;*/
	font-size: 1.1rem;
	font-weight: 600;
	color: red;

}

#h_nav ul
{
	list-style-type: none; 
	display: flex;
	justify-content: center;
}

#h_nav ul li
{

}

#h_nav ul li a
{
	padding: 0px 40px 0px 0px;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}



#h_nav li a:hover{
	animation: niko 5s ease infinite alternate;
}




#h_login
{
	width: 25%;
	margin-right: 20px;
	font-weight: 600;


}

#h_login ul
{
	list-style-type: none;

	display: flex;
	justify-content: flex-end;
}


#h_login ul li
{

}


#h_login ul li a
{
	text-decoration: none;
	color: black;
	font-size: 1.1rem;
	padding: 20px;

}


#h_login li a:hover{
	animation: niko 5s ease infinite alternate;
}


#h_login li i:hover{
	animation: niko 5s ease infinite alternate;
}


#h_login i
{
	color: black;
	font-size: 1.2rem;

}




#h_mode_main
{
	width: 5%;
	height: 100%;

}


#h_mode i
{
	color: black;
	padding: 0px 20px;
	font-size: 1.3rem;
	font-weight: 600;

}


#mode_1
{
	position: absolute;
	top: 28px;
	right: 0px;
}

#mode_2
{
	position: absolute;
	top: 28px;
	right: 0px;
	display: none;
}

#ham
{
	display: none;
}


#s_bar{
	position: absolute;
	top: 20px;
	right: 105px;
	height: 35px;
	width: 350px;

	display: none;
	transition: all 0.4s;
}


#s_bar input{
	height: 100%;
	width: 100%;
	border-radius: 5px;
	/*text-align: center;*/
	text-indent: 10px;
	border: none;

}



#ib3{
	position: absolute;
}


#ib3b{
	position: absolute;
	display: none;
}




@media only screen and (min-width: 0px) and (max-width: 400px)
{
	#header{
		height: 70px;
	}
	#h_logo{
		width: 20%;
	}
	#h_logo a{
		font-size: 0.9rem;
	}
	#h_logo a h1{
		color: white;
	    margin:  15px;
	}
/*	#h_mode{
		display: none;
	}*/
	#ham i{
		position: absolute;
		top: 25px;
		right: 60px;
	}

}

@media only screen and (min-width: 0px) and (max-width: 1000px)
{
	#h_nav{
		display: none;
	}
	#h_login{
		display: none;
	}

	#ham{
		display: block;
		color: black;
		font-size: 1.5rem;

	}

	#ham_2{
		display: none;
	}
}

@media only screen and (min-width: 400px) and (max-width: 1000px)
{
	#h_logo h1{
		margin-left: 20px; 
	}
	#ham i{
		position: absolute;
		top: 25px;
		right: 60px;
	}
}


	/*header ends hear*/
